body {
  font-family: "Cairo", sans-serif;
  background: #070707;

 
  
  padding: 0;
  height: 100vh;
  margin: 0;
  
}

/* h2 {
  margin-bottom: 10px;
  color: #333;
 
  text-align: center;
} */


.grid-container1 {
  display: grid;
  flex-wrap: wrap;
  justify-content: center;

  grid-template-columns: repeat(auto-fill, minmax(220px, auto));
  gap: 10px;
  width: 80%;
  
  top: 60px;
  border: 2px solid salmon;
  position: relative;
  border-radius: 15px;
  
}
.right-container {
  width: 80%;
  position: absolute;
  left: 25%;
  
}


/* .grid-container2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, auto));
  gap: 20px;
  width: 80%;
  margin-top: 20px;
  border: 2px solid salmon;
  position: relative;
  border-radius: 15px;
}

.grid-container3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, auto));
  gap: 20px;
  width: 80%;
  margin-top: 20px;
  border: 2px solid salmon;
  position: relative;
  border-radius: 15px;
  justify-content: center;
  
}

.grid-container4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, auto));
  gap: 20px;
  width: 80%;
  margin-top: 20px;
  border: 2px solid salmon;
  position: relative;
  border-radius: 15px;
  justify-content: center;
  
}

.grid-container5 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, auto));
  gap: 20px;
  width: 80%;
  margin-top: 20px;
  border: 2px solid salmon;
  position: relative;
  border-radius: 15px;
  justify-content: center;
  
}

.grid-container6 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, auto));
  gap: 20px;
  width: 80%;
  margin-top: 20px;
  border: 2px solid salmon;
  position: relative;
  border-radius: 15px;
  justify-content: center;
  
}
.grid-container2 , .grid-container3 , .grid-container4 , .grid-container5 , .grid-container6 {
  display: none;
} */
.card {
  /* width: 20%; */
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
  
  border: 3px solid goldenrod;
  
  
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-bottom: 1px solid #eee;
}

.card h3 {
  text-align: center;
  margin: 10px;
  font-size: 16px;
  color: #333;
}

.active-ingredients {
  display: none;
  padding: 15px;
  font-size: 13px;
  color: #444;
  text-align: center;
  background: #fafafa;
  border-top: 1px solid #eee;
   white-space: pre-line;
  line-height: 1.6;
  
}

/* .active-ingredients b + br + br {
  display: none;
}
.active-ingredients {
  white-space: pre-wrap;
  word-break: break-word;
} */

.dose {
    display: none;
    padding: 15px;
    font-size: 13px;
    color: #444;
    
    background: #fafafa;
    border-top: 1px solid #eee;
    white-space: pre-line;
    line-height: 1.6;
    direction: rtl;
    
    
}

.card:hover {
  transform: scale(1.07);
}

.card:hover .active-ingredients ,
.card:hover .dose {
  display: block;
}


/* .adult {
    width: 50%;
    min-width: 500px;
    height: 220px;
    border: 5px solid rgb(177, 175, 175);
    background: rgb(236, 233, 233);
    display: flex;
    justify-content: space-around;
    position: relative;
    border-radius: 20px;
    left: 10px;
    
    
    
}

.adult p {
  text-align: center;
  width: 30%;
}



.adult2  , .adult3 , .adult4 , .adult5 ,.adult6{
    width: 70%;
    height: 220px;
    border: 5px solid rgb(177, 175, 175);
    background: rgb(236, 233, 233);
    
    position: relative;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: inset 3px 3px 10px goldenrod , 
    inset -3px -3px 10px goldenrod;
    
}

.adult h2  , 
.adult2 h2 , 
.adult3 h2 , 
.adult4 h2 , 
.adult5 h2
.adult6 h2{
    position: absolute;
    right: 15%;
    top: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
}
.adult img , 
.adult2 img , 
.adult3 img , 
.adult4 img , 
.adult5 img{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 1%;
    top: 10px;
    border: 3px solid goldenrod;
    border-radius: 50%;
} */



@font-face {
  font-family: 'fbold';
  src: url(fonts/FuturaCyrillicDemi.woff);
}


.nav{
  position: relative;
  margin-top: 30px;
  border: none;
  width: 18%;
  max-width: 400px;
 
  min-width: 10%;
  height: 1000px;
  position: fixed;
  left: 20px;
  top: 20px;
  border-radius: 20px;
  overflow: visible;
  display: block;
  background: #333;
  box-shadow: 5px 5px 10px whitesmoke ,-5px -5px 10px whitesmoke;
  
  
}

.nav-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50% , -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(230, 225, 225);
  cursor: pointer;
  border: none;
  outline: whitesmoke solid 4px;

 
 
}
.nav-btn img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  object-fit: cover;
  
  

 
}

.categories {
  display: none;
  /* border: 3px solid gold; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  position: relative;
  margin-top: 50px;
}

.category {
 display: flex;
 justify-content: space-between;
 align-items: center;
  width: 80%;
  
  height: 40px;
  /* margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px; */
  border: 2px solid white;
  background: rgb(219, 217, 217);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.category p {
  width: 80%;
  /* border: 5px solid black; */
  text-align: center;
  font-family: 'fbold';
  font-size: 20px;
  text-transform: capitalize;
}
.category img {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(247, 246, 246);
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  
 
}

.category:hover {
  transform: scale(1.1);
}

/* .category:hover > .nav {
  width: 400px;
} */

.adult , .adult2 , .adult3 , .adult4 , .adult5 , .adult6 {
  display: none;
}