body {
  font-family: "Cairo", sans-serif;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 8000px;
  margin: 0;
  gap: 10px;
}

h2 {
  margin-bottom: 10px;
  color: #333;
 
  text-align: center;
}

.grid-container1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 10px;
  width: 50%;
  margin-top: 20px;
  /* border: 2px solid salmon; */
  position: relative;
  border-radius: 15px;
  left: 7%;
 

 
}

.grid-container2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  width: 70%;
  margin-top: 20px;
  border: 2px solid salmon;
  position: relative;
  border-radius: 15px;
}

.grid-container3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, auto));
  gap: 20px;
  width: 50%;
  margin-top: 20px;
  border: 2px solid salmon;
  position: relative;
  border-radius: 15px;
  justify-content: center;
  
}

.grid-container4 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, auto));
  gap: 20px;
  width: 40%;
  margin-top: 20px;
  border: 2px solid salmon;
  position: relative;
  border-radius: 15px;
  justify-content: center;
  
}

.grid-container5 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, auto));
  gap: 20px;
  width: 60%;
  margin-top: 20px;
  border: 2px solid salmon;
  position: relative;
  border-radius: 15px;
  justify-content: center;
  
}

.grid-container6 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, auto));
  gap: 20px;
  width: 60%;
  margin-top: 20px;
  border: 2px solid salmon;
  position: relative;
  border-radius: 15px;
  justify-content: center;
  
}

.card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
  
  border: 3px solid goldenrod;
  
  
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-bottom: 1px solid #eee;
}

.card h3 {
  text-align: center;
  margin: 10px;
  font-size: 16px;
  color: #333;
}

.active-ingredients {
  display: none;
  padding: 15px;
  font-size: 13px;
  color: #444;
  text-align: center;
  background: #fafafa;
  border-top: 1px solid #eee;
   white-space: pre-line;
  line-height: 1.6;
  
}

/* .active-ingredients b + br + br {
  display: none;
}
.active-ingredients {
  white-space: pre-wrap;
  word-break: break-word;
} */

.dose {
    display: none;
    padding: 15px;
    font-size: 13px;
    color: #444;
    
    background: #fafafa;
    border-top: 1px solid #eee;
    white-space: pre-line;
    line-height: 1.6;
    direction: rtl;
    
    
}

.card:hover {
  transform: scale(1.07);
}

.card:hover .active-ingredients ,
.card:hover .dose {
  display: block;
}


.adult {
    width: 70%;
    height: 220px;
    border: 5px solid rgb(177, 175, 175);
    background: rgb(236, 233, 233);
    
    position: relative;
    border-radius: 20px;
     margin-top: 10px;
     box-shadow: inset 3px 3px 10px goldenrod , 
     inset -3px -3px 10px goldenrod;
    
    
    
}



.adult2  , .adult3 , .adult4 , .adult5 ,.adult6{
    width: 70%;
    height: 220px;
    border: 5px solid rgb(177, 175, 175);
    background: rgb(236, 233, 233);
    
    position: relative;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: inset 3px 3px 10px goldenrod , 
    inset -3px -3px 10px goldenrod;
    
}

.adult h2  , 
.adult2 h2 , 
.adult3 h2 , 
.adult4 h2 , 
.adult5 h2
.adult6 h2{
    position: absolute;
    right: 15%;
    top: 20px;
    color: rgb(0, 0, 0);
}
.adult img , 
.adult2 img , 
.adult3 img , 
.adult4 img , 
.adult5 img{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 15%;
    top: 10px;
    border: 3px solid goldenrod;
    border-radius: 50%;
}





